.top-bar, .top-bar  ul {
  background-color: $nav-background;
}

.menu > li > a {
  display: inline;
}
li{
  font-size: 1.6em;
}

.top-bar .menu-text{
  color:$nav-text-color;
}

.active-link {
  font-weight: bold;
}

a{
  color: red;
}

.hover{
  background-color: blue;
}
