
.portada{
  background-image: url("http://res.cloudinary.com/dkr9ndsvc/image/upload/v1476114669/portada_qdkces.jpg");
  background-size: cover;

}

.lovely{
  border: solid;
  border-color: $nav-background;
  width: 250px;
  height: 250px;
}

h1{
  text-align: center;
}

.logos{
  padding: 2.5em;
}
